yarn.lock
/package-lock.json
/dist
/build
/.docz
/node_modules
*.tgz
*.zip
.cache
*.log
packages/**/es
packages/**/lib
packages/**/node_modules
packages/**/.vscode
packages/**/yarn.lock
packages/**/package-lock.json
packages/**/*.log
